.cell {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}
.cell-item {
  border: 1px solid black;
  margin: 0;
  cursor: pointer;
  position: relative;
}
